* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: rgba(0,0,0,0.2);
	/* height: 50px; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: white;
}

nav {
	display: flex;
	width: 100%
}

.navigation {
	background-color: rgba(256,256,0,0.2);
	border: 2px solid black;
	border-radius: 10px;
	display: flex;
	width: 100%;
	flex-direction: row;
	text-align: center;
}

.navText {
    color: white;
	margin: 10px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.navText:hover {
    font-weight: bold;
    color: #FFD700; 
}

body {
	background: linear-gradient(to right, #3797c5, #33efb4);
	color: white;
	font-family: arial, sans-serif;
}

.introsection {
	background-color: rgba(0,0,0,0.2);
	border: 2px solid black;
	border-radius: 10px;
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.bio {
	background-color:yellow;
	width: 100%;
	min-height: 500px;
	display: flex;
	align-items: stretch;
	color: white;
}

.pictureSection {
	background-color: rgba(0,0,0,0.2);
	border: 2px solid black;
	border-radius: 10px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profilePic {
	width: 300px;
	margin: 0 auto 10px auto;
}

.aboutSection {
	background-color:black;
	border: 2px solid black;
	border-radius: 10px;
	width: 40%;
	min-height: 500px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.introsection p {
	font-size: 3rem;
	padding: 0.5rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-align: center;
}

.introsection p span.cursor {
	display: inline-block;
	background-color: white;
	width: 3px;
	animation: blink 1s infinite;
}

.introsection p span.cursor.typing {
	animation: none;
}

@keyframes blink {
	0%	{ background-color: white; }
	49%	{ background-color: white; }
	50%	{ background-color: transparent; }
	99%	{ background-color: transparent; }
	100% { background-color: white; }
}





.projectcontainer {
	background-color: rgba(256,256,0,0.2);
	border: 2px solid black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.projectpreview {
	height: 200px;
	width: 300px;
	margin: 0 auto 10px auto;
}

.publicationContainer {
	background-color: rgba(256,256,0,0.2);
	border: 2px solid black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	text-align: left;
	color: white;

}

.pubText {
	margin: 10px;
}

.publicationContainer a {
	color: white;
    text-decoration: none; /* Remove underline */
}

.publicationContainer a:hover {
    text-decoration: underline; /* Add underline on hover */
}