<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="static/style.css">
	<title>Calvin Yoon | Developer</title>
</head>

<header>
	<nav>
		<section class="navigation">
			<div class="navText" id="aboutMeNav">About Me</div>
			<div class="navText" id="projectsNav">Projects</div>
			<div class="navText" id="publicationsNav">Publications</div>
		</section>
	</nav>

	<section class=introsection>
		<h1>Welcome to Calvin's Page</h1>
		{{name}} {{post_id}}
		<h2>Currently Under Construction</h2>
		<p><span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
	</section>

	<section class=bio>
		<section class=pictureSection>
			<img class=profilePic src="./static/assets/Profile Pic 1.jpg">
		</section>
		<section class=aboutSection>
			<h1>About Calvin Yoon</h1>
			<p>I am a data scientist with a passion for advancing healthcare. 
				I have a Masters in Integrative Bioscience and Biotechology 
				(graduated Summa Cum Laude / Highest Honors) from POSTECH in 
				South Korea and a Bachelors in Biomedical Engineering with a
				concentration of Cell & Tissue Engineering from the University 
				of Rochester. In academia, my research was focused on developing 
				imaging methods for characterizing the tissue microenvironment of 
				cancer and inflammation. In the medtech industry, I have led 
				multi-million dollar projects involving cross-functional stakeholders 
				that optimized manufacturing quality and efficiency of Class II and III
				products through automation and digitalization. Now, I am seeking 
				work as a data scientist, analyst, or computational biologist. 
				I look forward to connecting with you.</p>
		</section>
	</section>
</header>

<body>
	<section>
		<section id="projectsSection">
			<div class="sectionheading">
				<h1>Projects</h1>
			</div>
		</section>


		<section id="projectsSection">
			<div class="projectcontainer">
				<h3>Project 1</h3>
				<a href="https://calvinyoon.github.io/background-generator/" target=_blank>
					<img class=projectpreview src="./static/assets/Background Generator.PNG">
				</a>
			</div>

			<div class="projectcontainer">
				<h3>Project 2</h3>
				<a href="https://calvinyoon.github.io/drum-set/" target=_blank>
					<img class=projectpreview src="./static/assets/Drum Set.PNG">
				</a>
			</div>

			<div class="projectcontainer">
				<h3>Project 3</h3>
				<a href="https://calvinyoon.github.io/to-do-list/" target=_blank>
					<img class=projectpreview src="./static/assets/To Do List.PNG">
				</a>
			</div>

			<!-- <div class=projectcontainer>
				<h3>Project 3</h3>
				<a href="https://calvinyoon.github.io/to-do-list/" target=_blank>
					<img class=projectpreview src="./static/assets/To Do List.PNG">
				</a>
			</div>

			<div class=projectcontainer>
				<h3>Project 3</h3>
				<a href="https://calvinyoon.github.io/to-do-list/" target=_blank>
					<img class=projectpreview src="./static/assets/To Do List.PNG">
				</a>
			</div> -->


	</section>


	<section class="publicationsSection" id="publicationsSection">
		<div class="sectionheading">
			<h1>Publications</h1>
		</div>
	
		<div class="pubcontainer">
			<div class="pubitem">
				<img class="projectpreview" src="./static/assets/Background Generator.PNG">
				<div>
					<p class="pubText"><a href="https://pubmed.ncbi.nlm.nih.gov/27283889/" target="_blank">Moxifloxacin: Clinically compatible contrast agent for multiphoton imaging</a></p>
				</div>
				<div>We discovered that an FDA-approved eyedrop can be used as a contrast agent for live microscopic 3D-imaging of tissue samples, serving as the first to be suitable for humans for this purpose.</div>
				<div>Sci Rep. 2016</div>
			</div>
			<div class="pubitem">
				<img class="projectpreview" src="./static/assets/Background Generator.PNG">
				<div>
					<p class="pubText"><a href="https://pubmed.ncbi.nlm.nih.gov/26057729/" target="_blank">Quantum dots in an amphiphilic polyethyleneimine derivative platform for cellular labeling, targeting, gene delivery, and ratiometric oxygen sensing</a></p>
				</div>
				<div>We developed a nanoparticle with an amphiphilic shell that increased efficiency of gene delivery and cell-specific labeling by several-fold over current conventions.</div>
				<div>ACS Nano. 2015</div>
			</div>
			<div class="pubitem">
				<img class="projectpreview" src="./static/assets/Background Generator.PNG">
				<div>
					<p class="pubText"><a href="https://pubmed.ncbi.nlm.nih.gov/26203377/" target="_blank">In vivo visualization of skin inflammation by optical coherence tomography and two-photon microscopy</a></p>
				</div>
				<div>Abstract</div>
				<div>Biomed Opt Express. 2015</div>
			</div>
			<div class="pubitem">
				<img class="projectpreview" src="./static/assets/Background Generator.PNG">
				<div>
					<p class="pubText"><a href="https://pubmed.ncbi.nlm.nih.gov/26977371/" target="_blank">Comparison of reflectance confocal microscopy and two-photon second harmonic generation microscopy in fungal keratitis rabbit model ex vivo</a></p>
				</div>
				<div>Abstract</div>
				<div>Biomed Opt Express. 2016</div>
			</div>
			<div class="pubitem">
				<img class="projectpreview" src="./static/assets/Background Generator.PNG">
				<div>
					<p class="pubText"><a href="https://pubmed.ncbi.nlm.nih.gov/27374093/" target="_blank">NO-dependent attenuation of TPA-induced immunoinflammatory skin changes in Balb/c mice by pindolol, heptaminol or ATRA, but not by verapamil</a></p>
				</div>
				<div>We found that nitric-oxide production in immune cells counters early-stage tumor promotion in a mouse model.</div>
				<div>Oncotarget. 2016</div>
			</div>
			<div class="pubitem">
				<img class="projectpreview" src="./static/assets/Background Generator.PNG">
				<div>
					<p class="pubText"><a href="https://pubmed.ncbi.nlm.nih.gov/26203380/" target="_blank">Correlation between polarization sensitive optical coherence tomography and second harmonic generation microscopy in skin</a></p>
				</div>
				<div>We found a correlation between images produced by two different technologies (high-speed PS-OCT for wide views and SHG Microscopy for microscopic views) used for real-time 3D imaging of collagen in the skin.  </div>
				<div>Biomed Opt Express. 2015</div>
			</div>
			<div class="pubitem">
				<img class="projectpreview" src="./static/assets/Background Generator.PNG">
				<div>
					<p class="pubText"><a href="https://pubmed.ncbi.nlm.nih.gov/26417502/" target="_blank">In vivo imaging of activated microglia in a mouse model of focal cerebral ischemia by two-photon microscopy</a></p>
				</div>
				<div>We developed a method of real-time visualization of microglia (brain immune cells) in live mice to assist studies of their behavior during stroke.</div>
				<div>Biomed Opt Express. 2016</div>
			</div>
			<div class="pubitem">
				<img class="projectpreview" src="./static/assets/Background Generator.PNG">
				<div>
					<p class="pubText"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3530381/" target="_blank">Investigation of the peak action wavelength of light-activated gene transduction (LAGT)</a></p>
				</div>
				<div>We found that applying UV-light to cells enhanced the delivery of DNA fragments encapsulated in viral vectors for gene therapy.</div>
				<div>Gene Ther. 2012</div>
			</div>
			<div class="pubitem">
				<img class="projectpreview" src="./static/assets/Background Generator.PNG">
				<div>
					<p class="pubText"><a href="" target="_blank">Stabilin-2 Receptor</a></p>
				</div>
				<div>Abstract</div>
				<div>Journal</div>
			</div>
			<div class="pubitem">
				<img class="projectpreview" src="./static/assets/Background Generator.PNG">
				<div>
					<p class="pubText"><a href="" target="_blank">WNT Pathway</a></p>
				</div>
				<div>Abstract</div>
				<div>Journal</div>
			</div>
		</div>
	</section>
			
	<section>
		<section id="projectsSection">
			<div class="sectionheading">
				<h1>Other Section</h1>
			</div>
		</section>

		<section id="projectsSection">
			<div class="projectcontainer">
				<p>This page was made by Calvin Yoon using:</p>
				<p>Frontend: html, css, javascript</p>
				<p>Backend: python, flask, pythonanywhere</p>
			</div>
	</section>

	<script type="text/javascript" src="static/script.js"></script>
</body>
</html>