<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="static/style.css">
	<title>Calvin Yoon | Developer</title>
</head>

<header>
	<nav>
		<section class="navigation">
			<div class="navText" id="aboutMeNav">About Me</div>
			<div class="navText" id="projectsNav">Projects</div>
			<div class="navText" id="publicationsNav">Publications</div>
		</section>
	</nav>

	<section class=introsection>
		<h1>Welcome to Calvin's Page</h1>
		{{name}} {{post_id}}
		<h2>Currently Under Construction</h2>
		<p><span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
	</section>

	<section class=bio>
		<section class=pictureSection>
			<img class=profilePic src="./static/assets/Profile Pic 1.jpg">
		</section>
		<section class=aboutSection>
			<h1>About Calvin Yoon</h1>
			<p>I am a data scientist with a passion for advancing healthcare. 
				I have a Masters in Integrative Bioscience and Biotechology 
				(graduated Summa Cum Laude / Highest Honors) from POSTECH in 
				South Korea and a Bachelors in Biomedical Engineering with a
				concentration of Cell & Tissue Engineering from the University 
				of Rochester. In academia, my research was focused on developing 
				imaging methods for characterizing the tissue microenvironment of 
				cancer and inflammation. In the medtech industry, I have led 
				multi-million dollar projects involving cross-functional stakeholders 
				that optimized manufacturing quality and efficiency of Class II and III
				products through automation and digitalization. Now, I am seeking 
				work as a data scientist, analyst, or computational biologist. 
				I look forward to connecting with you.</p>
		</section>
	</section>
</header>

<body>
	<section>
		<section id="projectsSection">
			<div class="sectionheading">
				<h1>Projects</h1>
			</div>
		</section>


		<section id="projectsSection">
			<div class="projectcontainer">
				<h3>Project 1</h3>
				<a href="https://calvinyoon.github.io/background-generator/" target=_blank>
					<img class=projectpreview src="./static/assets/Background Generator.PNG">
				</a>
			</div>

			<div class="projectcontainer">
				<h3>Project 2</h3>
				<a href="https://calvinyoon.github.io/drum-set/" target=_blank>
					<img class=projectpreview src="./static/assets/Drum Set.PNG">
				</a>
			</div>

			<div class="projectcontainer">
				<h3>Project 3</h3>
				<a href="https://calvinyoon.github.io/to-do-list/" target=_blank>
					<img class=projectpreview src="./static/assets/To Do List.PNG">
				</a>
			</div>

			<!-- <div class=projectcontainer>
				<h3>Project 3</h3>
				<a href="https://calvinyoon.github.io/to-do-list/" target=_blank>
					<img class=projectpreview src="./static/assets/To Do List.PNG">
				</a>
			</div>

			<div class=projectcontainer>
				<h3>Project 3</h3>
				<a href="https://calvinyoon.github.io/to-do-list/" target=_blank>
					<img class=projectpreview src="./static/assets/To Do List.PNG">
				</a>
			</div> -->
		</section>

	</section>

	<section>
		<section id="projectsSection">
			<div class="sectionheading">
				<h1>Industry Projects</h1>
			</div>
		</section>


		<section>
			<div class="bio">
				<div class="projectcontainer">
					<h3>Project 1 - MFG Automation</h3>
					<a href="" target=_blank>
						<img class=projectpreview src="./static/assets/Mfg Pic 1.jpg" style="width: 300px; height: 300px; object-fit: cover;">
					</a>
				</div>
				<div class="projectcontainer">
					<p>To reduce the cost of femoral implant to the patient, 
						Fortune 500 company (F500) acquires a small Research & Development 
						company with proprietary metal-injection moulding technology and aspired 
						to build a fully automated manufacturing process that can meet production 
						and product quality requirements. This would be F5 America’s first fully 
						automated manufacturing cell for this class of product. Calvin led a 
						cross-functional team of 20 (engineering, IT, security, marketing, 
						legal, quality, and vendors) to conceptualize and build this process. 
						He drafted and executed requirements testing via statement of work, 
						user requirement specification, and validations. He wrote requirements 
						of machine vision with Fanuc, to reduce false product processing. He 
						implemented innovative manufacturing processes that saved $3M in 
						development costs for this $40M project and improved a 3D measurement 
						analysis technique that reduced engineering analysis time by 15 
						hours a week, or 90%. His team won the 2020 F500 Collaboration Award 
						for overcoming logistical challenges brought by COVID-19 and 
						meeting original deadlines. For improving the efficiency of business operations, 
						F500 aimed to standardize its method of acquiring production data and eliminate data 
						silos. Calvin, as a representative of the F5 site, designed a roadmap and led team 
						of 5 to implement the site’s first Internet of Things (IoT) data acquisition 
						system to automatically track production Key Performance Indicators (KPIs) per ISA-95. 
						He and his team implement IoT for 1200+ machines using Ignition, Azure, and Power Bi 
						for acquisition, analysis, and visualization of production KPIs.</p>
				</div>
			<div>
		</section>
		<section>
			<div class="projectcontainer">
				<h3>Project 2 - Vitrectomy OCT</h3>
				<a href="" target=_blank>
					<img class=projectpreview src="./static/assets/Vitrectomy Pic 1.jpg" style="width: 300px; height: 300px; object-fit: cover;">
				</a>
			</div>
		</section>
	</section>

	<section>
		<section id="publicationsSection">
			<div class="sectionheading">
				<h1>Publications</h1>
			</div>
		</section>
		
		<section class="publicationsSection" >
			<div class="pubcontainer">
				<div class="pubitem">
					<img class="projectpreview" src="./static/assets/Moxifloxacin Pic 1.jpg">
					<div>
						<p class="pubText"><a href="https://www.nature.com/articles/srep27142" target="_blank">Moxifloxacin: Clinically compatible contrast agent for multiphoton imaging</a></p>
					</div>
					<div>We discovered that an eyedrop can be used as a contrast agent for live microscopic 3D-imaging of tissue, serving as the first to be suitable for humans for this purpose.</div>
					<div>Sci Rep. 2016</div>
				</div>
				<div class="pubitem">
					<img class="projectpreview" src="./static/assets/Quantum Dot Pic 1.jpg">
					<div>
						<p class="pubText"><a href="https://pubmed.ncbi.nlm.nih.gov/26057729/" target="_blank">Quantum dots in an amphiphilic polyethyleneimine derivative platform for cellular labeling, targeting, gene delivery, and ratiometric oxygen sensing</a></p>
					</div>
					<div>We developed a nanoparticle with an amphiphilic shell that increases efficiency of gene delivery and cell-specific labeling by several-fold over current conventions.</div>
					<div>ACS Nano. 2015</div>
				</div>
				<div class="pubitem">
					<img class="projectpreview" src="./static/assets/Skin Inflammation Pic 1.jpg">
					<div>
						<p class="pubText"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4505705/" target="_blank">In vivo visualization of skin inflammation by optical coherence tomography and two-photon microscopy</a></p>
					</div>
					<div>We combined two distinct imaging modalities (TPM and OCT) to provide real-time contrast-free 3D images of skin inflammation at both cellular and macroscopic levels.</div>
					<div>Biomed Opt Express. 2015</div>
				</div>
				<div class="pubitem">
					<img class="projectpreview" src="./static/assets/Keratitis Pic 1.jpg">
					<div>
						<p class="pubText"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4771480/" target="_blank">Comparison of reflectance confocal microscopy and two-photon second harmonic generation microscopy in fungal keratitis rabbit model ex vivo</a></p>
					</div>
					<div>We combined two distinct imaging modalities (RCM and TPSHGM) to provide contrast-free visualization of cornea fungal infection.</div>
					<div>Biomed Opt Express. 2016</div>
				</div>
				<div class="pubitem">
					<img class="projectpreview" src="./static/assets/TPA Pic 1.jpg">
					<div>
						<p class="pubText"><a href="https://www.oncotarget.com/article/10217/text/" target="_blank">NO-dependent attenuation of TPA-induced immunoinflammatory skin changes in Balb/c mice by pindolol, heptaminol or ATRA, but not by verapamil</a></p>
					</div>
					<div>We found that nitric-oxide production in immune cells counters early-stage tumor promotion in a mouse model.</div>
					<div>Oncotarget. 2016</div>
				</div>
				<div class="pubitem">
					<img class="projectpreview" src="./static/assets/Correlation Pic 1.jpg">
					<div>
						<p class="pubText"><a href="https://pubmed.ncbi.nlm.nih.gov/26203380/" target="_blank">Correlation between polarization sensitive optical coherence tomography and second harmonic generation microscopy in skin</a></p>
					</div>
					<div>We found a correlation between images produced by two different technologies (high-speed PS-OCT for wide views and SHG Microscopy for microscopic views) used for real-time 3D imaging of collagen in the skin.  </div>
					<div>Biomed Opt Express. 2015</div>
				</div>
				<div class="pubitem">
					<img class="projectpreview" src="./static/assets/Microglia Pic 1.jpg">
					<div>
						<p class="pubText"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4574658/" target="_blank">In vivo imaging of activated microglia in a mouse model of focal cerebral ischemia by two-photon microscopy</a></p>
					</div>
					<div>We developed a method of real-time visualization of microglia (brain immune cells) in live mice to assist studies of their behavior during stroke.</div>
					<div>Biomed Opt Express. 2016</div>
				</div>
				<div class="pubitem">
					<img class="projectpreview" src="./static/assets/LAGT Pic 1.jpg">
					<div>
						<p class="pubText"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3530381/" target="_blank">Investigation of the peak action wavelength of light-activated gene transduction (LAGT)</a></p>
					</div>
					<div>We found that applying UV-light to cells enhanced the delivery of DNA fragments encapsulated in viral vectors for gene therapy.</div>
					<div>Gene Ther. 2012</div>
				</div>
				<div class="pubitem">
					<img class="projectpreview" src="./static/assets/Background Generator.PNG">
					<div>
						<p class="pubText"><a href="" target="_blank">Stabilin-2 Receptor</a></p>
					</div>
					<div>Abstract</div>
					<div>Journal</div>
				</div>
				<div class="pubitem">
					<img class="projectpreview" src="./static/assets/Background Generator.PNG">
					<div>
						<p class="pubText"><a href="" target="_blank">WNT Pathway</a></p>
					</div>
					<div>Abstract</div>
					<div>Journal</div>
				</div>
			</div>
		</section>
	</section>

	<section>
		<section id="projectsSection">
			<div class="sectionheading">
				<h1>Other Section</h1>
			</div>
		</section>

		<section id="projectsSection">
			<div class="projectcontainer">
				<p>This page was made by Calvin Yoon using:</p>
				<p>Frontend: html, css, javascript</p>
				<p>Backend: python, flask, pythonanywhere</p>
			</div>
	</section>

	<script type="text/javascript" src="static/script.js"></script>
</body>
</html>